<h1>Jobs</h1>

<h4>Listed Jobs:</h4>

<ul>
  <% @jobs.each do |job| %>
    <%= content_tag :div , id: "job_" + job.id.to_s do %>
      <li><%= link_to job.title, job_path(job) %></li>
      <% if current_worker %>
        <% if job.job_status == 0 %>
          <%= link_to "click here to claim it now", job_path(job, :job_status => 1), :method => "patch", remote: true %>
        <% else %>
          <p>Someone has already claimed this job.</p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</ul>

<h3 id="your_new_jobs">Jobs you've signed up for:</h3>
<ul id = 'signed_up_jobs'>
</ul>
