<h1> <%= @job.title %> </h1>

<h3><%= @job.description %></h3>

<% if @job.job_status = 0 %>
  <p>No one has claimed this job!</p>
<% else %>
<p>Someone has already claimed this job; it's currently pending.</p>

<% end %>
